.filler1 {
  height: 300px;
  background-color: bisque;
}

.filler2 {
  height: 300px;
  background-color: beige;
}

.about1 {
  background-color: black;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-image: image-url("backgrounds/3.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.about2 {
  background-color: black;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-image: image-url("backgrounds/polyterrain.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.about3 {
  background-color: black;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-image: image-url("backgrounds/web.png");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.about4 {
  background-color: black;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-image: image-url("backgrounds/11.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.about5 {
  background-color: black;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-image: image-url("backgrounds/01.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}