/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}

navbar {
  display: flex;
}

.logo {
  width: 25%;
  float: left;
}

.login-button {
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 7px;
}

.login-button:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: mediumaquamarine;
}

.signin-button {
  border-color: mediumaquamarine;
  border-width: 2px;
  border-style: solid;
  font-size: 16px;
  color: mediumaquamarine;
  cursor: pointer;
  padding: 7px;
  margin: 10px 5px 5px 5px;
}

.signin-button:hover {
  border-width: 2px;
  color: white;
  /* border-bottom-width: 2px;
  border-bottom-style: solid; */
  background-color: mediumaquamarine;
}

.nav-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.nav-item {
  width: 25%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(223, 223, 223, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  background-color: white;
  padding: 80px;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}


