.hero-section {
  height: 500px;
  width: 100%;
  display: inline-table;
}

.home-top-container {
  color: white;
  padding-top: 140px;
  display: grid;
}

.content-container {
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.welcome-greeting-title {
  font-size: 46px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 2px black;
}

.welcome-copy {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
  font-weight: 200;
  line-height: 1.5;
  text-shadow: 2px 2px 2px black;
  display: grid;
  grid-template-columns: 60% 40%;
  box-sizing: border-box;
}


// Mobile responsive

@media (max-width: 1000px) {
  .welcome-copy {
    display: block;
  }

  .hero-section {
    height: 550px;
  }
}

@media only screen and (min-width: 1200px) {
  .content-container {
    width: 1100px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .content-container {
    width: 1000px;
  }
}

@media (min-width: 760px) and (max-width: 999px) {
  .content-container {
    width: 750px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 0) and (max-width: 759px) {
  .content-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}