/* Home */

.hero-img {
  height: 700px;
  background-size: cover;
  background-image: image-url("mindscape.jpg");
  display: flex;
  align-items: center;
  z-index: -1;
}

.home-text {
  color: white;
  padding-left: 60px;
}

 