.map {
  max-height: 85vh;
  width: 100%;
  position: sticky;
  top: 80px;
  background-color: white;  
  border-radius: 3px;
  box-shadow: 5px 1px 10px #a5a5a5;
}

.gmap {
  height: 85vh;
  border-radius: 3px;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
// .gmnoprint div {
//     background:none !important;
// }