// Modal styles

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(223, 223, 223, 0.7);
  z-index: 10;
}

@keyframes modalDown {
  0% {top: 0px;}
  100% {top: 220px;}
}

.modal-child > .login-form-container, .signup-form-container {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -200px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  background-color: white;
  padding: 40px;
  height: auto;
  width: 350px;
  animation-name: modalDown;
  animation-duration: 0.5s;
}

.close-x {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  color: #dddddd;
  cursor: pointer;
}

.close-x:hover {
  color: #333333;
}

.modal-links {
  color: #f7398a;
  cursor: pointer;  
}