/* Global Nav Bar  */

navbar {
  display: flex;
}

.nav-container {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

.nav-background {
  height: 80px;
  background-size: cover;
  background-image: image-url("backgrounds/home.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  position: fixed;
}

#header-full {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#header-scroll {
  height: 50px;
  background-color: black;
}

.logo {
  height: 53px;
  float: left;
  padding: 10px 0px 0px 10px;
}

.logo-scroll {
  height: 45px;
  float: left;
  padding: 10px 0px 0px 20px;
}

.nav-links {
  padding: 4px 10px 10px 20px;
  font-size: 30px;
  text-align: right;
}

.nav-links-scroll {
  padding: 0px 20px 10px 20px;
  font-size: 30px;
  text-align: right;
}

.social-div {
  display: inline-block;
  vertical-align: baseline;
  padding-right: 30px;
}

.social-icon {
  width: 30px;
}

[class*="soc-"] {
  display: inline-block;
  background-image: image-url("social_links.png");
  background-size: 30px 120px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow:hidden;
  height: 0px;
  width: 30px;
  padding-top: 30px;
  cursor: pointer;
}

.soc-git {
  background-position: 0 0;
}

.soc-git:hover {
  background-position: 0 -30px;
}

.soc-linkedin {
  background-position: 0 -60px;
}

.soc-linkedin:hover {
  background-position: 0 -90px;
}

.login-button {
  font-size: 16px;
  border: none;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all ease-in-out .3s;
  border-bottom: 1px solid transparent;
}

.login-button:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #f7398a;
  background-color: transparent;
}

.logout-button {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 16px;
  color: white;
  padding: 7px 14px 7px 14px;
  margin: 10px 5px 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.signup-button {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  font-size: 16px;
  color: white;
  padding: 7px 14px 7px 14px;
  margin: 10px 5px 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.signup-button:hover, .logout-button:hover {
  background-color: #f7398a;
  border-color: white;
}

// Logged in Header nav

.header-name {
  font-size: 16px;
  color: white;
  margin-right: 15px;  
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
}

.header-group {
  display: flex;
  float: right;
  align-items: baseline;
}

.header-greet {
  margin-left: 7px;
}