.scapescontainer {
  width: 100%;
  height: 80px;
  // background-image: image-url('backgrounds/topnav.jpg');
  background-size: cover;
  // background-color: black;
  background-image: image-url("backgrounds/home.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.scapes-page {
  margin: auto;
  padding-left: 70px;
  padding-right: 70px;
}

.scapes-index {
  color: white;
  padding-top: 120px;
  display: grid;
}

.filter-box {
  border-radius: 1px;
  height: 65px;
  width: 100%;
  padding: 10px;
  background-color: #fdfdfd;
  box-shadow: 0px 0px 2px darkgrey;
}

.scapes-grid {
  display: grid;
  grid-template-columns: 63% 37%;
  box-sizing: border-box;
  margin-top: 30px;
}

.scapes-flex {
  display: flex;
  flex-wrap: wrap;
}

.scape-card-container {
  width: 50%;
  padding-right: 20px;
  padding-bottom: 20px;
}

.scape-card {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 5px 1px 10px #a5a5a5;;
}

.scape-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: all ease-in-out .5s; 
}

.scape-card:hover {
  cursor: pointer;
  outline:none;
  transition: all 0.5s ease;
  transform: scale(1.05);
}



.scape-card:hover {
  background-color: #f7f7f7;
}

.scape-card-title {
  color: #444444;
  font-size: 22px;
  font-weight: 900;
  padding: 13px;
  cursor: pointer;
}

.scape-card-deets {
  color: #757575;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: baseline;
}

.scape-card-price {
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.line-break {
  border-bottom: 2px solid #eeeeee;
  width: 95%;
  margin: auto;
}

.scapes-calendar {
  height: 100%;
  width: 160px;
  background-image: image-url("calendar-search.png");
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 1px #555555;
  background-repeat: no-repeat;
  background-position-x: -5px;
  background-position-y: center;
  background-size: 50px;
  padding-left: 60px;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.scapes-calendar:focus {
  box-shadow: 0px 0px 3px #757575;
}

.scapes-category-button {
  height: 100%;
  width: 10%;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 1px #555555;
  background-repeat: no-repeat;
  background-position-x: -5px;
  background-position-y: center;
  background-size: 50px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #757577;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  cursor: pointer;
}

.scapes-category-button:hover {
  color: white;
  background-color: #222222;
}

// Mobile responsive

@media only screen and (max-width: 1100px) {
  .scape-card-container {
    width: 100%;
  }
}